.label {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #3f3f3f;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    }

.input {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
